* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  min-width: 320px;
  font-family:
    "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.5rem;
  color: #434343;
  line-height: 1.5;
  background: #fefefe;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}
a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
h1 {
  font-family:
    "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
  font-size: 7.6rem;
}
h2 {
  font-family:
    "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 5rem;
}
h3 {
  font-family:
    "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
h4 {
  font-family:
    "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 2.8rem;
}
p,
ul {
  margin: 0;
  padding: 0;
}
p {
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}
ul li {
  list-style: none;
}
.container {
  padding: 0 5%;
}
.row {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.row-small {
  width: 680px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1366px) {
  .row,
  .row-small {
    width: 100%;
    padding: 0 3%;
  }
}
.clear {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.ripple-effect {
  position: absolute;
  display: block;
  width: 13rem;
  height: 13rem;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  overflow: hidden;
  z-index: 5;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.ripple-effect.animate {
  -webkit-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple {
  to {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@keyframes ripple {
  to {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  padding: 0 6.8rem;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
header.reduced {
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.4);
}
.header-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  display: none;
  text-align: center;
  background-color: rgba(255, 176, 84, 0.75);
  z-index: 110;
}
.header-overlay h1 {
  position: relative;
  top: 50%;
  font-size: 9.6rem;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.075);
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
@media (max-width: 1024px) {
  .header-overlay h1 {
    font-size: 6.4rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header-overlay {
    width: 75%;
  }
}
@media (max-width: 767px) {
  header {
    height: 5rem;
    padding: 0 3.4rem;
  }
  .header-overlay {
    left: 0;
    width: 50%;
  }
  .header-overlay h1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 480px) {
  header {
    padding: 0 2rem;
  }
  .header-overlay h1 {
    font-size: 1.6rem;
  }
}
footer {
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: #ffb054;
}
footer br {
  display: none;
}
footer p {
  font-size: 1.3rem;
  font-style: italic;
  padding-bottom: 1.5rem;
}
footer p a {
  font-weight: bold;
  color: #fff;
}
footer p a:hover {
  color: #202a37;
}
@media (max-width: 480px) {
  footer br {
    display: block;
  }
  footer span:first-of-type {
    display: none;
  }
}
.changelog,
.legal-notice {
  background-color: #202a37;
  padding: 3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.changelog h1,
.legal-notice h1 {
  font-size: 5.2rem;
  color: #ffb054;
  text-align: center;
  padding: 2rem 0;
}
.changelog h1 span,
.legal-notice h1 span {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.4rem;
  color: #fff;
}
.changelog h2,
.legal-notice h2 {
  font-size: 2rem;
  color: #89e8ff;
  padding: 3.4rem 0 0.5em;
}
.changelog p,
.legal-notice p {
  color: #a2a2a2;
}
.changelog p + p,
.legal-notice p + p {
  padding-top: 1.5rem;
}
.changelog a:not(.btn),
.legal-notice a:not(.btn) {
  color: #fff;
}
.changelog a:not(.btn):hover,
.legal-notice a:not(.btn):hover {
  color: #ffb054;
}
.back-container {
  text-align: center;
  margin: 6rem auto 3rem;
}
@media (max-width: 767px) {
  .changelog h1,
  .legal-notice h1 {
    font-size: 3.6rem;
    padding-bottom: 0;
  }
  .changelog h2,
  .legal-notice h2 {
    font-size: 1.8rem;
  }
}
.legal-notice p {
  text-align: justify;
}
.changelog {
  text-align: center;
}
.changelog .version + .version {
  margin-top: 3rem;
}
.changelog .version h3 {
  font-size: 2.4rem;
  color: #fff;
}
.changelog .version h4 {
  font-size: 1.4rem;
  color: #a2a2a2;
  margin-bottom: 1em;
}
.changelog .version ul li {
  color: #a2a2a2;
}
.changelog .version ul li:before {
  content: "- ";
}
.changelog .version p {
  margin-bottom: 1em;
}
.is-visible {
  display: block;
}
.is-hidden {
  display: none;
}
.is-locked {
  overflow: hidden;
}
.is-unavailable {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
.is-ninja {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
}
.error404 {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 0 3%;
  display: table;
  text-align: center;
  background-color: #202a37;
  z-index: 10000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.error404 .error404-container {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.error404 .error404-container h1 {
  display: block;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}
.error404 .error404-container a {
  padding-top: 3.6rem;
  display: inline-block;
  font-size: 1.6rem;
  color: #ffb054;
  border-bottom: 0.2rem solid #202a37;
}
.error404 .error404-container a:hover {
  border-bottom: 0.2rem solid #ffb054;
}
@media (max-width: 480px) {
  .error404 .error404-container h1 {
    font-size: 4.2rem;
  }
}
.btn,
input[type="button"],
input[type="submit"] {
  padding: 0.8rem 1.1rem;
  display: inline-block;
  line-height: normal;
  text-decoration: none;
  letter-spacing: 0.1rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn:disabled,
.btn[disabled],
input[type="button"]:disabled,
input[type="button"][disabled],
input[type="submit"]:disabled,
input[type="submit"][disabled] {
  opacity: 0.5;
  cursor: default;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-primary,
.btn-secondary {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.1rem;
}
.btn-primary {
  color: #fff;
  border: 0.2rem solid #fff;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  color: #1c1c1c;
  background-color: #fff;
}
.btn-secondary {
  color: #ffb054;
  border: 0.2rem solid #ffb054;
}
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  color: #fff;
  background-color: #ffb054;
}
.btn-up {
  position: fixed;
  z-index: 9999;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 5rem;
  height: 5rem;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.3rem;
  opacity: 0;
}
.btn-up:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 2.4rem;
  height: 2.4rem;
  background: url("/images/icons/icon-arrow-up.svg") no-repeat;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.btn-up.is-visible {
  opacity: 0.5;
}
.btn-up.is-visible:hover {
  opacity: 1;
}
.btn-steam {
  margin: 0 auto;
  padding: 0.6rem 3.2rem;
  font-size: 1.4rem;
  color: #d2e885;
  text-decoration: none;
  letter-spacing: 0;
  background: #799905;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#799905),
    to(#546a04)
  );
  background: -webkit-linear-gradient(top, #799905 0%, #546a04 100%);
  background: -o-linear-gradient(top, #799905 0%, #546a04 100%);
  background: linear-gradient(180deg, #799905 0%, #546a04 100%);
  border: 0.2rem solid #293037;
  border-radius: 0.3rem;
  text-shadow: -0.1rem -0.1rem 0 rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-steam:hover {
  color: #fff;
  background: #a4d007;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#a4d007),
    to(#6b8705)
  );
  background: -webkit-linear-gradient(top, #a4d007 0%, #6b8705 100%);
  background: -o-linear-gradient(top, #a4d007 0%, #6b8705 100%);
  background: linear-gradient(180deg, #a4d007 0%, #6b8705 100%);
}
.btn-cv {
  position: relative;
  margin: 0 auto -0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-cv span {
  position: relative;
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-cv span:before {
  position: absolute;
  content: url("/images/icons/icon-dl.svg");
  top: 0;
  left: 50%;
  margin-left: -1.2rem;
  width: 2.4rem;
  -webkit-transform: translate3d(0, -4.4rem, 0);
  transform: translate3d(0, -4.4rem, 0);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-cv:hover {
  background-color: #141414;
}
.btn-cv:hover span {
  color: #fff;
  -webkit-transform: translateY(4.4rem);
  -ms-transform: translateY(4.4rem);
  transform: translateY(4.4rem);
}
.btn-cv:hover span:before {
  -webkit-transform: translateY(-4.4rem);
  -ms-transform: translateY(-4.4rem);
  transform: translateY(-4.4rem);
}
.btn-gallery {
  margin: 6.6rem auto 0;
}
@media (max-width: 480px) {
  .btn-up {
    display: none;
  }
}
.cookie {
  position: fixed;
  z-index: 50;
  bottom: 1.5rem;
  left: 1.5rem;
  width: 25%;
  padding: 1.5rem 2rem;
  display: inline-block;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 0.3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cookie p {
  display: inline-block;
  font-size: 1.3rem;
}
.cookie a {
  color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.cookie a:hover {
  color: #ffb054;
}
@media (max-width: 1366px) {
  .cookie {
    width: 33.33%;
  }
}
@media (max-width: 767px) {
  .cookie {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: 0;
  }
}
.icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-scroll {
  position: absolute;
  z-index: 10;
  top: auto;
  bottom: 2.6rem;
  left: 50%;
  width: 2.2rem;
  height: 3.4rem;
  border: 0.3rem solid #fff;
  border-radius: 1.5rem;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
@media (max-width: 767px) {
  .icon-scroll {
    bottom: 1.2rem;
    width: 1.8rem;
    height: 2.8rem;
  }
}
.icon-scroll:after {
  position: absolute;
  content: "";
  top: 0.7rem;
  left: 0.7rem;
  width: 0.3rem;
  height: 0.8rem;
  background: #fff;
  -webkit-animation-name: mouse;
  animation-name: mouse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@media (max-width: 767px) {
  .icon-scroll:after {
    top: 0.5rem;
    left: 0.5rem;
  }
}
@-webkit-keyframes mouse {
  to {
    top: 1rem;
  }
}
@keyframes mouse {
  to {
    top: 1rem;
  }
}
.list {
  vertical-align: top;
  text-align: center;
}
.list-item {
  list-style: none;
  display: inline-block;
}
.list-item a {
  text-decoration: none;
  color: #fff;
}
.list-filters {
  margin-bottom: 1.8rem;
  padding: 0.4rem 0;
  border-bottom: 0.2rem solid transparent;
}
.list-filters:hover {
  cursor: pointer;
  border-bottom: 0.2rem solid #ffb054;
}
.list-filters.active-filter {
  color: #ffb054;
  border-bottom: 0.2rem solid #ffb054;
}
.list-filters + li {
  margin-left: 3rem;
  color: #202a37;
}
@media (min-width: 1921px) {
  .list-filters {
    margin-bottom: 1.5rem;
  }
}
.list-works {
  position: relative;
  width: 20%;
  height: 20vw;
  float: left;
  overflow: hidden;
  opacity: 1;
  pointer-events: all;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
ul .list-works {
  text-align: center;
}
.list-works:hover:before {
  opacity: 1;
}
.list-works:hover img {
  -webkit-filter: blur(0.3rem);
  -ms-filter: blur(0.3rem);
  filter: blur(0.3rem);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.list-works:hover .works-overlay {
  background-color: rgba(125, 211, 232, 0.6);
  background: -webkit-linear-gradient(
    45deg,
    rgba(125, 211, 232, 0.6),
    rgba(255, 176, 84, 0.6)
  );
  background: -o-linear-gradient(
    45deg,
    rgba(125, 211, 232, 0.6),
    rgba(255, 176, 84, 0.6)
  );
  background: linear-gradient(
    45deg,
    rgba(125, 211, 232, 0.6),
    rgba(255, 176, 84, 0.6)
  );
}
.list-works:hover .works-overlay h4 {
  color: #fff;
  background-color: #ffb054;
  -webkit-box-shadow: 0 0 3rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.15);
  text-shadow: none;
  -webkit-transform: translate3d(0, -150%, 0);
  transform: translate3d(0, -150%, 0);
}
.list-works:hover .works-overlay p {
  opacity: 1;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
.list-works:hover .works-overlay ul:before {
  top: 0;
  opacity: 1;
}
.list-works:hover .works-overlay ul li {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.list-works.hidden-work {
  opacity: 0.3;
  pointer-events: none;
}
.list-works img {
  width: auto;
  max-height: 100%;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  transition:
    transform 0.25s,
    -webkit-transform 0.25s;
}
.works-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3rem 1.5rem;
  color: #fff;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.25s;
  -o-transition: background 0.25s;
  transition: background 0.25s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.works-overlay h4 {
  font-size: 2.7rem;
  font-family:
    "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
  margin: 50% 0 0;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.works-overlay p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0.8rem 3rem;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  opacity: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.works-overlay p a:hover {
  color: #89e8ff;
}
.works-overlay ul {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  padding: 1.5rem 0;
  display: block;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.works-overlay ul:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background: #fff;
  opacity: 0;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.works-overlay ul li {
  width: 3.9rem;
  height: 3.9rem;
  display: inline-block;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.works-overlay ul li + li {
  margin-left: 1.5rem;
}
.works-overlay ul li.more-item a:before {
  content: url("/images/icons/icon-plus.svg");
}
.works-overlay ul li.link-item a:before {
  content: url("/images/icons/icon-link.svg");
}
.works-overlay ul li a {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.works-overlay ul li a:before {
  position: absolute;
  top: 0.7rem;
  left: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
}
.works-overlay ul li a:hover {
  background-color: #ffb054;
  border: 0.2rem solid #ffb054;
}
@media (min-width: 1921px) {
  .list-works {
    width: 55rem;
    height: 55rem;
    float: none;
    margin: 1.5rem 0.75rem 0;
    border-radius: 0.5rem;
  }
}
@media (max-width: 1680px) {
  .list-works {
    width: 25%;
    height: 25vw;
  }
}
@media (max-width: 1366px) {
  .list-works {
    width: 33.33333333%;
    height: 33.33333333vw;
  }
}
@media (max-width: 960px) {
  .list-works {
    width: 50%;
    height: 50vw;
  }
}
@media (max-width: 767px) {
  .list-filters {
    margin-bottom: 0;
    display: block;
  }
  .list-filters.active-filter,
  .list-filters:hover {
    color: #ffb054;
    border-color: transparent;
  }
  .list-filters + li {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .list-filters.active-filter,
  .list-filters:hover {
    color: #fff;
    background-color: #ffb054;
  }
  .list-works {
    width: 100%;
    height: 100vw;
  }
}
.list-skills {
  width: 33%;
  margin-bottom: 7.5rem;
}
.list-skills .list-skills-header {
  position: relative;
  width: 13rem;
  height: 13rem;
  margin: 0 auto;
  background: url("/images/skills-icons.webp") no-repeat center top;
  background-size: 26rem 78rem;
}
.list-skills .list-skills-header:hover {
  cursor: pointer;
}
.list-skills .list-skills-header .ripple-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 13rem;
  height: 13rem;
  border-radius: 100%;
  overflow: hidden;
  z-index: 10;
}
.list-skills:first-child .list-skills-header {
  background-position: 0 0;
}
.list-skills:first-child .list-skills-header:hover {
  background-position: -13rem 0;
}
.list-skills:nth-child(2) .list-skills-header {
  background-position: 0 -13rem;
}
.list-skills:nth-child(2) .list-skills-header:hover {
  background-position: -13rem -13rem;
}
.list-skills:nth-child(3) .list-skills-header {
  background-position: 0 -26rem;
}
.list-skills:nth-child(3) .list-skills-header:hover {
  background-position: -13rem -26rem;
}
.list-skills:nth-child(4) .list-skills-header {
  background-position: 0 -39rem;
}
.list-skills:nth-child(4) .list-skills-header:hover {
  background-position: -13rem -39rem;
}
.list-skills:nth-child(5) .list-skills-header {
  background-position: 0 -52rem;
}
.list-skills:nth-child(5) .list-skills-header:hover {
  background-position: -13rem -52rem;
}
.list-skills:nth-child(6) .list-skills-header {
  background-position: 0 -65rem;
}
.list-skills:nth-child(6) .list-skills-header:hover {
  background-position: -13rem -65rem;
}
.list-skills h4 {
  margin-bottom: 1.2rem;
}
.list-skills section {
  display: none;
  max-height: 20rem;
}
.list-skills section p {
  color: #a2a2a2;
  font-style: italic;
  font-weight: 300;
}
.list-skills section p span {
  float: right;
}
@media (max-width: 1024px) {
  .list-skills {
    width: 42%;
  }
}
@media (max-width: 767px) {
  .list-skills {
    margin-bottom: 3.2rem;
  }
}
@media (max-width: 480px) {
  .list-skills {
    width: 100%;
  }
}
.list-item-contact {
  position: relative;
  width: 24rem;
  height: 16rem;
  border: 0.2rem solid #fff;
  overflow: hidden;
}
.list-item-contact + li.list-item-contact {
  margin-left: 1.4rem;
}
.list-item-contact i {
  color: #fff;
  text-align: center;
}
.list-item-contact p {
  color: #a2a2a2;
  font-size: 1.4rem;
}
.list-item-contact.contact-mail i,
.list-item-contact.contact-mail p,
.list-item-contact.contact-phone i,
.list-item-contact.contact-phone p,
.list-item-contact.contact-skype i,
.list-item-contact.contact-skype p {
  position: absolute;
  left: 0;
  right: 0;
}
.list-item-contact.contact-mail i,
.list-item-contact.contact-phone i,
.list-item-contact.contact-skype i {
  top: 3rem;
}
.list-item-contact.contact-mail p,
.list-item-contact.contact-phone p,
.list-item-contact.contact-skype p {
  width: 100%;
  bottom: 3rem;
}
.list-item-contact.contact-mail i {
  margin-top: 0.5rem;
}
.list-item-contact .contact-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #2bbbad;
  z-index: 3;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition:
    transform 0.2s ease,
    -webkit-transform 0.2s ease;
}
.list-item-contact .contact-overlay i {
  -webkit-transform: translate3d(0, 2.8rem, 0);
  transform: translate3d(0, 2.8rem, 0);
  -webkit-transition: -webkit-transform 0.2s ease 0.2s;
  transition: -webkit-transform 0.2s ease 0.2s;
  -o-transition: transform 0.2s ease 0.2s;
  transition: transform 0.2s ease 0.2s;
  transition:
    transform 0.2s ease 0.2s,
    -webkit-transform 0.2s ease 0.2s;
}
.list-item-contact:hover .contact-overlay {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.list-item-contact:hover .contact-overlay i {
  -webkit-transform: translate3d(0, 3rem, 0);
  transform: translate3d(0, 3rem, 0);
  -webkit-transition: all 0.2s ease 0.2s;
  -o-transition: all 0.2s ease 0.2s;
  transition: all 0.2s ease 0.2s;
}
@media (max-width: 1140px) {
  .list-item-contact {
    width: 33%;
    margin-bottom: 0.5rem;
  }
  .list-item-contact + li.list-item-contact {
    margin-left: 0;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .section-contact {
    padding: 10rem 0 9.5rem;
  }
  .list-item-contact {
    width: 66%;
  }
  .list-item-contact + li.list-item-contact {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 480px) {
  .list-item-contact {
    width: 85%;
  }
}
.list-item-social {
  display: block;
}
.list-item-social.social-github a {
  background-color: #24292e;
}
.list-item-social.social-codepen a {
  background-color: #212121;
}
.list-item-social.social-behance a {
  background-color: #1769ff;
}
.list-item-social.social-linkedin a {
  background-color: #0077b5;
}
.list-item-social a {
  float: left;
  width: 50%;
  height: 8rem;
  line-height: 4rem;
  vertical-align: middle;
}
.list-item-social a:hover {
  opacity: 0.9;
}
.list-item-social a i {
  -webkit-transform: translate3d(0, 2.4rem, 0);
  transform: translate3d(0, 2.4rem, 0);
}
.logo {
  display: inline-block;
  vertical-align: top;
}
.logo-main {
  margin-top: 1.8rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.logo-main:hover {
  opacity: 0.5;
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}
.logo-main img {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
header.reduced .logo-main {
  margin-top: 0.9rem;
}
header.reduced .logo-main img {
  width: 3.2rem;
  height: 3.2rem;
}
footer .logo-main {
  margin: 3.8rem 0 3.2rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
footer .logo-main:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
@media (max-width: 767px) {
  .logo-main {
    margin-top: 0.9rem;
  }
  header .logo-main img {
    width: 3.2rem;
    height: 3.2rem;
  }
}
.nav {
  position: relative;
}
.nav-main {
  float: right;
  margin-right: 4.4rem;
}
.nav-main ul {
  margin: 0;
  padding: 0;
}
.nav-main ul li {
  display: inline-block;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
}
.nav-main ul li a {
  padding: 3.6rem 1.8rem;
  font-family:
    "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: font-size 0.2s;
  -o-transition: font-size 0.2s;
  transition: font-size 0.2s;
}
.nav-main ul li a:hover {
  border-top: 0.3rem solid #fff;
}
.nav-main a.settings-toggle {
  display: none;
}
header.reduced .nav-main ul li {
  height: 5rem;
  line-height: 5rem;
}
header.reduced .nav-main ul li a {
  padding: 1.4rem 1.8rem;
  font-size: 1.5rem;
  -webkit-transition: font-size 0.2s;
  -o-transition: font-size 0.2s;
  transition: font-size 0.2s;
}
header.reduced .nav-main ul li a:hover {
  border-top: 0.2rem solid #fff;
}
.sidemenu-toggle {
  position: absolute;
  top: 0.2rem;
  right: 5.5rem;
  width: 2.3rem;
  height: 1.8rem;
  margin: 0 auto;
  padding: 4.8rem 2.8rem;
  display: block;
  background: url("/images/icons/icon-settings.svg") no-repeat center center;
  background-size: 2.2rem 2.2rem;
  border-top: 0;
  z-index: 105;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.sidemenu-toggle span {
  position: absolute;
  top: 0;
  right: 1.8rem;
  width: 2.3rem;
  height: 0.4rem;
  display: none;
  background-color: #fff;
  opacity: 1;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.sidemenu-toggle span:first-child {
  top: 3.7rem;
}
.sidemenu-toggle span:nth-child(2) {
  opacity: 1;
  top: 4.5rem;
}
.sidemenu-toggle span:nth-child(3) {
  top: 5.3rem;
}
.sidemenu-toggle:hover {
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
}
.sidemenu-toggle:hover span:first-child {
  top: 4.5rem;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.sidemenu-toggle:hover span:nth-child(2) {
  right: -6rem;
  opacity: 0;
}
.sidemenu-toggle:hover span:nth-child(3) {
  top: 4.5rem;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
header.reduced .sidemenu-toggle {
  padding: 2.3rem 2.6rem;
  border-top: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header.reduced .sidemenu-toggle span {
  width: 1.8rem;
  height: 0.3rem;
}
header.reduced .sidemenu-toggle span:first-child {
  top: 1.6rem;
}
header.reduced .sidemenu-toggle span:nth-child(2) {
  top: 2.2rem;
  opacity: 1;
}
header.reduced .sidemenu-toggle span:nth-child(3) {
  top: 2.8rem;
}
header.reduced .sidemenu-toggle:hover span:first-child {
  top: 2.2rem;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
header.reduced .sidemenu-toggle:hover span:nth-child(2) {
  right: -6rem;
  opacity: 0;
}
header.reduced .sidemenu-toggle:hover span:nth-child(3) {
  top: 2.2rem;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #202a37;
  z-index: 105;
}
.sidemenu .language-selector {
  padding: 1rem 0 2.2rem;
  display: inline-block;
  color: #fff;
}
.sidemenu .language-selector a {
  font-size: 1.6rem;
  color: #fff;
}
.sidemenu .language-selector a:hover {
  color: #ffb054;
}
.settings-toggle {
  display: none;
}
.settings-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #202a37;
  z-index: 105;
  right: 0;
  padding: 2.4rem 3.2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.settings-menu .language-selector {
  padding: 1rem 0 2.2rem;
  display: inline-block;
  color: #fff;
}
.settings-menu .language-selector a {
  font-size: 1.6rem;
  color: #fff;
}
.settings-menu .language-selector a:hover {
  color: #ffb054;
}
.settings-menu.open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.settings-menu h2 {
  font-size: 3.2rem;
  color: #ffb054;
  display: block;
}
.settings-menu h2 span {
  font-size: 1.4rem;
  color: #fff;
  display: block;
}
.settings-menu .version-number {
  position: absolute;
  bottom: 2.4rem;
  left: 3.2rem;
  color: #fff;
  opacity: 0.5;
}
@media (max-width: 1024px) {
  .settings-toggle:hover,
  .sidemenu-toggle:hover {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .settings-menu {
    width: 25%;
  }
}
@media (max-width: 767px) {
  .nav-main {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    margin-right: 0;
    background-color: #202a37;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav-main ul {
    margin: 0;
    padding: 5rem 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .nav-main ul li {
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    text-align: left;
  }
  .nav-main ul li a {
    display: inline-block;
    width: 100%;
    height: 5rem;
    padding: 0 0 0 3.1rem;
    line-height: 5rem;
    border-left: 0.3rem solid #202a37;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .nav-main ul li a:hover {
    color: #202a37;
    background-color: #fff;
    border: 0;
    border-left: 0.3rem solid #ffb054;
  }
  .nav-main.open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav-main a.settings-toggle {
    display: block;
  }
  .sidemenu-toggle {
    right: 1.6rem;
    padding: 2.3rem 2.7rem;
    background-image: none;
  }
  .sidemenu-toggle span {
    display: block;
    width: 1.8rem;
    height: 0.3rem;
  }
  .sidemenu-toggle span:first-child {
    top: 1.6rem;
  }
  .sidemenu-toggle span:nth-child(2) {
    opacity: 1;
    top: 2.2rem;
  }
  .sidemenu-toggle span:nth-child(3) {
    top: 2.8rem;
  }
  .sidemenu-toggle:hover {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
  }
  .sidemenu-toggle:hover span {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
  }
  .sidemenu-toggle:hover span:first-child {
    top: 1.6rem;
  }
  .sidemenu-toggle:hover span:nth-child(2) {
    opacity: 1;
    top: 2.2rem;
    right: 1.8rem;
  }
  .sidemenu-toggle:hover span:nth-child(3) {
    top: 2.8rem;
  }
  .settings-toggle {
    position: relative;
    top: 0.1rem;
    left: 1.8rem;
    width: 2.2rem;
    height: 2.2rem;
    padding: 2.5rem 2.7rem;
    display: block;
    background: url("/images/icons/icon-settings.svg") no-repeat center center;
    background-size: 2.2rem 2.2rem;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .settings-toggle:hover {
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  .settings-menu {
    width: 50%;
  }
  .settings-menu h2 span {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .nav-main ul {
    padding: 0.2rem 0 0;
  }
}
@media (max-width: 480px) {
  .nav-main ul {
    padding: 0.2rem 0 0;
  }
  .nav-main ul li a {
    padding: 0 0 0 1.8rem;
  }
  .sidemenu-toggle {
    right: 0.2rem;
  }
  .settings-toggle {
    left: 0.4rem;
  }
  .settings-menu {
    padding: 1.5rem 2rem;
  }
  .settings-menu h2 {
    font-size: 2.4rem;
  }
  .settings-menu .version-number {
    bottom: 1.5rem;
    left: 2rem;
  }
}
.section {
  position: relative;
  padding: 10rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.section .overlay-pattern {
  position: absolute;
  background: url("/images/overlay-pattern.webp") repeat rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0.8;
}
@media (max-width: 767px) {
  .section {
    padding: 5rem 0;
  }
}
.section-home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10rem;
  background: url("/images/home-bg.webp") no-repeat center top fixed;
  overflow-y: hidden !important;
  background-size: cover;
}
.section-home h1 {
  margin: 0;
  padding: 0.5rem 1.8rem;
  display: inline-block;
  color: #fff;
  background-color: #ffb054;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.section-home h3 {
  display: block;
  margin: 1.2rem 0;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
  color: #fff;
}
@media (min-width: 1921px) {
  .section-home {
    background: url("/images/home-bg-large.webp") no-repeat center top fixed;
    background-size: cover;
  }
}
@media (max-width: 1024px) {
  .section-home {
    background: url("/images/home-bg-large.webp") no-repeat center top fixed;
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .section-home {
    padding: 5rem;
  }
  .section-home h3 {
    margin: 0.8rem 0;
  }
}
@media (max-width: 480px) {
  .section-home h3 {
    font-size: 1.6rem;
  }
}
.section-punchline {
  padding: 3rem 3%;
  text-align: center;
}
.section-punchline h1,
.section-punchline h2 {
  font-family:
    "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-top: 0.7rem;
}
.section-punchline h1 {
  font-weight: 800;
  font-size: 6.8rem;
  text-transform: uppercase;
  margin: 0;
}
.section-punchline h1 span {
  color: #ffb054;
}
.section-punchline h2 {
  font-size: 4.5rem;
  color: #434343;
  text-transform: none;
  margin: 0;
}
.section-punchline h2 strong {
  color: #ffb054;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .section-punchline {
    padding: 2rem 1%;
  }
  .section-punchline h1 {
    font-size: 5.2rem;
  }
  .section-punchline h2 {
    font-size: 3rem;
  }
}
.section-early-access {
  padding-bottom: 3.4rem;
  color: #fff;
  text-align: center;
  background-color: #1b2838;
}
.section-early-access section {
  width: 100%;
  text-align: left;
}
.section-early-access section:first-child {
  padding: 1.2rem 0;
  background: #56a2ce;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#56a2ce),
    to(#346482)
  );
  background: -webkit-linear-gradient(left, #56a2ce 0%, #346482 100%);
  background: -o-linear-gradient(left, #56a2ce 0%, #346482 100%);
  background: linear-gradient(90deg, #56a2ce 0%, #346482 100%);
  border-top: 1px solid #4e81ae;
}
.section-early-access section:first-child h2 {
  font-family:
    "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 2.9rem;
  text-transform: none;
  text-align: left;
  text-shadow: -0.1rem -0.1rem 0 rgba(0, 0, 0, 0.2);
  line-height: 2.9rem;
}
.section-early-access section:first-child h3 {
  font-size: 1.4rem;
  font-style: normal;
  text-align: left;
  text-shadow: -0.1rem -0.1rem 0 rgba(0, 0, 0, 0.2);
  line-height: 1.4rem;
  padding: 1rem 0 0.9rem;
}
.section-early-access section:first-child p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #b8e0fd;
}
.section-early-access section:first-child p span {
  color: #ffb054;
}
.section-early-access section:nth-child(2) {
  padding-top: 1.2rem;
  background-color: #1b2838;
}
.section-early-access section:nth-child(2) p {
  font-size: 1.2rem;
  color: #61686d;
  text-transform: uppercase;
}
.section-early-access section:nth-child(2) p em {
  font-size: 1.4rem;
  color: #8f989c;
  text-transform: none;
  line-height: 1.8rem;
}
.section-early-access section:nth-child(2) h3 {
  font-size: 1.4rem;
  font-style: normal;
  text-align: left;
  padding: 1.2rem 0 0.3rem;
}
.section-early-access section:nth-child(2) hr {
  height: 0.1rem;
  margin-bottom: 3.4rem;
  display: block;
  color: rgba(0, 0, 0, 0);
  background-color: #4e81ae;
  border: 0;
}
.section-about {
  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.section-about .content {
  float: left;
  text-align: left;
}
.section-about .content:first-of-type {
  width: 75%;
}
.section-about .content:nth-of-type(2) {
  width: 25%;
  text-align: right;
}
.section-about .content p {
  margin-bottom: 1.8rem;
}
.section-about .content p big {
  display: block;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 5.8rem;
  margin: 0 0 3.6rem -0.5rem;
}
.section-about .content p:last-of-type {
  font-size: 1.8rem;
  margin: 3.4rem 0 0;
}
.section-about .btn-cv {
  margin-top: 5.8rem;
}
@media (max-width: 1140px) {
  .section-about .content:first-of-type {
    width: 100%;
  }
  .section-about .content:nth-of-type(2) {
    display: none;
  }
}
.section-works {
  padding: 10rem 0 0;
  background-color: #fefefe;
}
.section-works .row {
  max-width: 100%;
  padding: 0;
}
.section-works h3 {
  padding-left: 3%;
  padding-right: 3%;
}
.section-works .see-more {
  display: none;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 1921px) {
  .section-works {
    padding: 10rem 0;
  }
  .section-works .row {
    max-width: 1920px;
  }
}
@media (max-width: 767px) {
  .section-works {
    padding-top: 5rem;
  }
}
.section-skills {
  padding: 10rem 0 2.5rem;
  background-color: #202a37;
}
.section-skills h4 {
  margin-top: 1.8rem;
  font-size: 1.8rem;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .section-skills {
    padding: 5rem 0 0;
  }
}
.section-contact {
  background: url("/images/contact-bg.webp") no-repeat center center;
  background-size: cover;
}
.section-contact .row {
  position: relative;
  z-index: 10;
}
@media (min-width: 1921px) {
  .section-contact {
    background: url("/images/contact-bg-large.webp") no-repeat center center;
    background-size: cover;
  }
}
@media (max-width: 1024px) {
  .section-contact {
    background: url("/images/contact-bg-large.webp") no-repeat center center;
    background-size: cover;
  }
}
.section-map {
  width: 100%;
  text-align: center;
}
.section-map section {
  padding: 3.4rem 3%;
  background-color: #1c1c1c;
}
.section-map section h2 {
  font-weight: 700;
  color: #89e8ff;
}
.section-map section h3 {
  font-family:
    "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #ddd;
  line-height: 1.8rem;
  padding: 1.4rem 0 0;
}
.section-map #map {
  z-index: 1;
  width: 100%;
  height: 60rem;
  -webkit-box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.1);
}
.section-map #map .leaflet-control-container {
  display: none;
}
.section-map #map .leaflet-marker-icon {
  cursor: default;
}
@media (max-width: 1140px) {
  .section-map section {
    padding: 3.4rem 0;
  }
}
.subtitle,
.title {
  text-align: center;
}
.title-container {
  width: 100%;
  text-align: center;
}
.title-section {
  display: inline-block;
  font-family:
    "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 4rem;
  padding: 1.4rem 0 1.2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.subtitle {
  font-family:
    "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  padding: 4.6rem 0 9.6rem;
}
.title-home {
  z-index: 10;
  text-align: center;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
@media (max-width: 960px) {
  .title-home {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.title-about {
  color: #fff;
  border-top: 0.3rem solid #ffb054;
  border-bottom: 0.3rem solid #ffb054;
}
.subtitle-about {
  color: #89e8ff;
}
.title-works {
  color: #ffb054;
  border-top: 0.3rem solid #202a37;
  border-bottom: 0.3rem solid #202a37;
}
.subtitle-works {
  color: #202a37;
}
.title-skills {
  color: #fff;
  border-top: 0.3rem solid #ffb054;
  border-bottom: 0.3rem solid #ffb054;
}
.subtitle-skills {
  color: #ffb054;
}
.title-contact {
  color: #ffb054;
  border-top: 0.3rem solid #fff;
  border-bottom: 0.3rem solid #fff;
}
.subtitle-contact {
  color: #fff;
}
@media (max-width: 768px) {
  .title-home h1 {
    width: 29rem;
    font-size: 7.7rem;
  }
}
@media (max-width: 767px) {
  .title-home h1 {
    width: 29rem;
    font-size: 4.8rem;
  }
  .title-section {
    font-size: 3.2rem;
    line-height: 2.5rem;
  }
  .title-section.title-map {
    padding: 0.3rem 0;
    line-height: 2.9rem;
  }
  .subtitle {
    padding: 4.2rem 0;
    line-height: 1.8rem;
  }
}
@media (max-width: 480px) {
  .title-home h1 {
    width: 24rem;
    font-size: 4.2rem;
  }
  .title-section {
    line-height: 2.9rem;
  }
}
.switch {
  position: relative;
  min-height: 2.4rem;
  display: block;
  margin: 1rem 0;
  padding: 0.2rem 0.8rem 0.2rem 4.2rem;
  color: #fff;
  line-height: 2.4rem;
}
.switch:hover {
  cursor: pointer;
}
.switch:hover .icon {
  background: rgba(255, 176, 84, 0.25);
  -webkit-box-shadow: 0 0 0 0.1rem #ffb054;
  box-shadow: 0 0 0 0.1rem #ffb054;
}
.switch input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.switch input:checked + .icon {
  background: #ffb054;
  border-color: #ffb054;
}
.switch input:checked + .icon:before {
  left: 1.5rem;
}
.switch .icon {
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 3.2rem;
  height: 1.8rem;
  background: #171e27;
  background-clip: padding-box;
  border-radius: 1rem;
  -webkit-transition:
    background 0.2s,
    -webkit-box-shadow 0.2s;
  transition:
    background 0.2s,
    -webkit-box-shadow 0.2s;
  -o-transition:
    background 0.2s,
    box-shadow 0.2s;
  transition:
    background 0.2s,
    box-shadow 0.2s;
  transition:
    background 0.2s,
    box-shadow 0.2s,
    -webkit-box-shadow 0.2s;
}
.switch .icon:hover {
  cursor: pointer;
}
.switch .icon:before {
  position: absolute;
  content: "";
  top: 0.1rem;
  left: 0.1rem;
  width: 1.6rem;
  height: 1.6rem;
  display: block;
  background: #fff;
  border-radius: 50%;
  -webkit-transition:
    left 0.2s,
    color 0.2s,
    background 0.2s,
    border 0.2s,
    -webkit-box-shadow 0.2s;
  transition:
    left 0.2s,
    color 0.2s,
    background 0.2s,
    border 0.2s,
    -webkit-box-shadow 0.2s;
  -o-transition:
    left 0.2s,
    color 0.2s,
    background 0.2s,
    border 0.2s,
    box-shadow 0.2s;
  transition:
    left 0.2s,
    color 0.2s,
    background 0.2s,
    border 0.2s,
    box-shadow 0.2s;
  transition:
    left 0.2s,
    color 0.2s,
    background 0.2s,
    border 0.2s,
    box-shadow 0.2s,
    -webkit-box-shadow 0.2s;
}
.night-mode .header-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}
.night-mode .settings-menu {
  background-color: #1c1c1c;
}
@media (max-width: 767px) {
  .night-mode .nav-main {
    background-color: #1c1c1c;
  }
}
@media (max-width: 767px) {
  .night-mode .nav-main ul li a {
    border-color: #1c1c1c;
  }
  .night-mode .nav-main ul li a:hover {
    border-color: #ffb054;
  }
}
.night-mode .list-works:hover .works-overlay h4,
.night-mode .section-home h1 {
  color: #1c1c1c;
  background-color: #fff;
}
.night-mode .section-about {
  border-bottom: 1px solid #111;
}
.night-mode .list-skills .list-skills-header {
  background-image: url("/images/skills-icons_night-mode.webp");
}
.night-mode .list-filters.active-filter,
.night-mode .title-about,
.night-mode .title-skills,
.night-mode .title-works {
  border-color: #fff;
}
.night-mode .list-filters,
.night-mode .list-filters + li,
.night-mode .section-map section h2,
.night-mode .settings-menu h2,
.night-mode .subtitle-about,
.night-mode .subtitle-skills,
.night-mode .subtitle-works,
.night-mode .title-contact,
.night-mode .title-works,
.night-mode .works-overlay p a:hover,
.night-mode footer p a:hover {
  color: #fff;
}
.night-mode .list-works:hover .works-overlay {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.75);
}
.night-mode .section-skills,
.night-mode .section-works,
.night-mode footer {
  background-color: #1c1c1c;
}
.night-mode .list-item-contact .contact-overlay {
  background-color: #ffb054;
}
.night-mode .list-item-social.social-behance a,
.night-mode .list-item-social.social-codepen a,
.night-mode .list-item-social.social-github a,
.night-mode .list-item-social.social-linkedin a {
  background-color: transparent;
}
.night-mode .list-item-social.social-behance a:hover,
.night-mode .list-item-social.social-codepen a:hover,
.night-mode .list-item-social.social-github a:hover,
.night-mode .list-item-social.social-linkedin a:hover {
  background-color: #ffb054;
}
.night-mode .list-item-social a:hover {
  opacity: 1;
}
.night-mode .works-overlay p a:hover,
.night-mode footer p a:hover {
  color: #ffb054;
}
@media (max-width: 767px) {
  .night-mode .list-filters.active-filter,
  .night-mode .list-filters:hover {
    color: #1c1c1c;
    background-color: #fff;
  }
}
.night-mode .switch .icon {
  background-color: #111;
}
